@mixin heading($land){
    //if $land !== $Swamp
    background-color: $land;
    color: $white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px;
    transition: 0.3s;
}

@mixin resource($land){
    background-color: $land;
    padding: 5px;
    height: 80px;
    transition: 0.3s;
}

@mixin info($land, $land_fade){
    background-color: $land_fade;
    border: 1px dotted $land;
    padding: 5px;
    height: 194px;
    transition: 0.3s;
}

@mixin resourceItem($land, $land_fade, $land_disabled){
    border: 1px dotted $land;
    background-color: $land_fade;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $white;
        transition: 0.3s;
    }

    &:disabled{
        transition: 0.3s; 
        background-color: $land_disabled;
        cursor: not-allowed;
    }
}

@mixin disabledLand($land){
    display: inline-block;
    background-color: $land;
    vertical-align: top;
    width: 19px;
    height: 19px;
    margin: 0;
    padding: 3px;
    transition: 0.3s;
}

@mixin proto{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin: 0;
    padding: 3px;
    transition: 0.3s;
}