$general: rgb(112, 128, 144);
$general_fade: rgba(112, 128, 144, .4);
$general_disabled: rgba(112, 128, 144, .1);
$white: rgb(245, 245, 245);

//Mountain
$Mountain: rgb(166, 51, 49);
$Mountain_fade: rgba(166, 51, 49, .4);
$Mountain_disabled: rgba(166, 51, 49, .1);

//Plains
$Plains: rgb(216, 196, 116);
$Plains_fade: rgba(216, 196, 116, .4);
$Plains_disabled: rgba(216, 196, 116, .1);

//Forest
$Forest: rgb(42, 78, 39);
$Forest_fade: rgba(42, 78, 39, .4);
$Forest_disabled: rgba(42, 78, 39, .1);

//Swamp
$Swamp: rgb(50, 49, 45);
$Swamp_fade: rgba(50, 49, 45, .4);
$Swamp_disabled: rgba(50, 49, 45, .1);

//Island
$Island: rgb(31, 68, 126);
$Island_fade: rgba(31, 68, 126, .4);
$Island_disabled: rgba(31, 68, 126, .1);