$general: rgb(112, 128, 144);
$general_fade: rgba(112, 128, 144, .4);
$white: rgb(245, 245, 245);

//Mountain
$red: rgb(166, 51, 49);
$red_fade: rgba(166, 51, 49, .4);
$red_disabled: rgba(166, 51, 49, .1);

//Plains
$yellow: rgb(216, 196, 116);
$yellow_fade: rgba(216, 196, 116, .4);
$yellow_disabled: rgba(216, 196, 116, .1);

//Forest
$green: rgb(42, 78, 39);
$green_fade: rgba(42, 78, 39, .4);
$green_disabled: rgba(42, 78, 39, .1);

//Swamp
$black: rgb(50, 49, 45);
$black_fade: rgba(50, 49, 45, .4);
$black_disabled: rgba(50, 49, 45, .1);

//Island
$blue: rgb(31, 68, 126);
$blue_fade: rgba(31, 68, 126, .4);
$blue_disabled: rgba(31, 68, 126, .1);