/*******************************************************
    P L A Y E R
*******************************************************/
@import './palette.scss';

.Player-heading{
    color: $white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $general;
}

.Player-content{
    background: $general_fade;
    padding: 0px;
    margin-top: 5px;
    height: 301px;
    vertical-align: top;
}