body{
    background-color: rgb(177, 177, 177);
}

table, tr, td{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

h1, h2, h3, h4, h5, p{
    display: 'inline-block';
    margin: 0;
    padding: 0;
}

.container{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 350px;
    height: 350px;
    vertical-align: top;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.World-heading, .Player-heading, .Area-heading{
    color: whitesmoke;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: slategrey;
}

.World-content, .Player-content, .Area-content{
    background-image: linear-gradient(120deg, rgba(112, 128, 144, .2), rgba(112, 128, 144, .4));
    padding: 5px;
    height: 313px;
    vertical-align: top;
    border: 1px solid slategrey;
}

/*******************************************************
    F O R E S T
*******************************************************/
.Forest-heading{
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(42, 78, 39);
}

.Forest-content{
    background-image: linear-gradient(120deg, rgba(42, 78, 39, .2), rgba(42, 78, 39, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(42, 78, 39);
}

.Forest-disabled{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(42, 78, 39, .1);
}

.Forest-icon{
    color: whitesmoke;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Forest{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(42, 78, 39, .8);
}

/*******************************************************
    P L A I N S
*******************************************************/
.Plains-heading{
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-size: 20px;
    background-color: rgb(216, 196, 116);
}

.Plains-content{
    background-image: linear-gradient(120deg, rgba(153, 141, 94, .2), rgba(153, 141, 94, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(153, 141, 94);
}

.Plains-disabled{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(216, 196, 116, .1);
}

.Plains-icon{
    color: black;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Plains{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(216, 196, 116, .8);
}

/*******************************************************
   S W A M P
*******************************************************/
.Swamp-heading{
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(50, 49, 45);
}

.Swamp-content{
    background-image: linear-gradient(120deg, rgba(50, 49, 45, .2), rgba(50, 49, 45, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(50, 49, 45);
}

.Swamp-disabled{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(50, 49, 45, .1);
}

.Swamp-icon{
    color: whitesmoke;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Swamp{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(50, 49, 45, .8);
}

/*******************************************************
   I S L A N D
*******************************************************/
.Island-heading{
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(31, 68, 126);
}

.Island-content{
    background-image: linear-gradient(120deg, rgba(31, 68, 126, .2), rgba(31, 68, 126, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(31, 68, 126);
}

.Island-disabled{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(31, 68, 126, .1);
}

.Island-icon{
    color: whitesmoke;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Island{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(31, 68, 126, .8);
}

/*******************************************************
   M O U N T A I N
*******************************************************/
.Mountain-heading{
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(166, 51, 49);
}

.Mountain-content{
    background-image: linear-gradient(120deg, rgba(166, 51, 49, .2), rgba(166, 51, 49, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(166, 51, 49);
}

.Mountain-disabled{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(166, 51, 49, .1);
}

.Mountain-icon{
    color: whitesmoke;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Mountain{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-color: rgba(166, 51, 49, .8);
}

/*******************************************************
    R E S O U R C E S
*******************************************************/
.Clearing-icon{
    color: black;
    font-size: small;
    margin: 0;
    padding: 0;
}
