body{
    background-color: rgb(177, 177, 177);
}

.container{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 350px;
    height: 350px;
    vertical-align: top;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.World-heading, .Player-heading{
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
    background-color: slategrey;
}

.World-content, .Player-content{
    background-image: linear-gradient(120deg, rgba(112, 128, 144, .2), rgba(112, 128, 144, .4));
    padding: 5px;
    height: 313px;
    vertical-align: top;
    border: 1px solid slategrey;
}

.Area-heading{
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
    background-color: slategrey;
}

.Area-content{
    background-image: linear-gradient(120deg, rgba(112, 128, 144, .2), rgba(112, 128, 144, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid slategrey;
}

.Forest-heading{
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(42, 78, 39);
}

.Forest-content{
    background-image: linear-gradient(120deg, rgba(42, 78, 39, .2), rgba(42, 78, 39, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(42, 78, 39);
}

.Forest-icon{
    color: white;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Forest{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
    background-color: rgba(42, 78, 39, .8);
}

.Plain-heading{
    width: 100%;
    color: black;
    font-size: 20px;
    background-color: rgb(216, 196, 116);
}

.Plain-content{
    background-image: linear-gradient(120deg, rgba(153, 141, 94, .2), rgba(153, 141, 94, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(153, 141, 94);
}

.Plain-icon{
    color: black;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Plain{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
    background-color: rgba(216, 196, 116, .8);
}


.Plain-heading{
    width: 100%;
    color: black;
    font-size: 20px;
    background-color: rgb(216, 196, 116);
}

.Plain-content{
    background-image: linear-gradient(120deg, rgba(153, 141, 94, .2), rgba(153, 141, 94, .4));
    padding: 5px;
    height: 313px;
    border: 1px solid rgb(153, 141, 94);
}

.Plain-icon{
    color: black;
    font-size: small;
    margin: 0;
    padding: 0;
}

.Plain{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba(216, 196, 116, .8);
}

.Clearing-icon{
    color: black;
    font-size: small;
    margin: 0;
    padding: 0;
    
}

table, tr, td{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

